.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #383838;
  border-radius: 5px;
  border: solid 1px #777777;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
  color: white;
}

.nice-select:hover {
  border-color: #6a6a6a;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #555555;
}

.nice-select:after {
  border-bottom: 2px solid #555555;
  border-right: 2px solid #555555;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #7c7c7c;
  color: #555555;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #888888;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #383838;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(51, 51, 51, 0.11);
  box-shadow: 0 0 0 1px rgba(51, 51, 51, 0.11);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #777777;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #555555;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

.text-muted {
  color: #777777;
}

.text-primary {
  color: #00BCD4;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.nice-select.open,
a.active {
  outline: none;
}

a {
  color: #00BCD4;
}

a:hover,
a:focus,
a:active,
a.nice-select.open,
a.active {
  color: #008fa1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: #eee;
}

.bg-darkest-gray {
  background-color: #222222;
}

.btn-primary {
  color: white;
  background-color: #00BCD4;
  border-color: #00BCD4;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-primary:focus,
.btn-primary.focus {
  color: white;
  background-color: #008fa1;
  border-color: #004b55;
}

.btn-primary:hover {
  color: white;
  background-color: #008fa1;
  border-color: #008697;
}

.btn-primary:active,
.btn-primary.nice-select.open,
.btn-primary.active,
.open>.btn-primary.dropdown-toggle {
  color: white;
  background-color: #008fa1;
  border-color: #008697;
}

.btn-primary:active:hover,
.btn-primary.nice-select.open:hover,
.btn-primary:active:focus,
.btn-primary.nice-select.open:focus,
.btn-primary:active.focus,
.btn-primary.focus.nice-select.open,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open>.btn-primary.dropdown-toggle:hover,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle.focus {
  color: white;
  background-color: #006f7d;
  border-color: #004b55;
}

.btn-primary:active,
.btn-primary.nice-select.open,
.btn-primary.active,
.open>.btn-primary.dropdown-toggle {
  background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #00BCD4;
  border-color: #00BCD4;
}

.btn-primary .badge {
  color: #00BCD4;
  background-color: white;
}

.btn-xl {
  color: white;
  background-color: #00BCD4;
  border-color: #00BCD4;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

.btn-xl:focus,
.btn-xl.focus {
  color: white;
  background-color: #008fa1;
  border-color: #004b55;
}

.btn-xl:hover {
  color: white;
  background-color: #008fa1;
  border-color: #008697;
}

.btn-xl:active,
.btn-xl.nice-select.open,
.btn-xl.active,
.open>.btn-xl.dropdown-toggle {
  color: white;
  background-color: #008fa1;
  border-color: #008697;
}

.btn-xl:active:hover,
.btn-xl.nice-select.open:hover,
.btn-xl:active:focus,
.btn-xl.nice-select.open:focus,
.btn-xl:active.focus,
.btn-xl.focus.nice-select.open,
.btn-xl.active:hover,
.btn-xl.active:focus,
.btn-xl.active.focus,
.open>.btn-xl.dropdown-toggle:hover,
.open>.btn-xl.dropdown-toggle:focus,
.open>.btn-xl.dropdown-toggle.focus {
  color: white;
  background-color: #006f7d;
  border-color: #004b55;
}

.btn-xl:active,
.btn-xl.nice-select.open,
.btn-xl.active,
.open>.btn-xl.dropdown-toggle {
  background-image: none;
}

.btn-xl.disabled:hover,
.btn-xl.disabled:focus,
.btn-xl.disabled.focus,
.btn-xl[disabled]:hover,
.btn-xl[disabled]:focus,
.btn-xl[disabled].focus,
fieldset[disabled] .btn-xl:hover,
fieldset[disabled] .btn-xl:focus,
fieldset[disabled] .btn-xl.focus {
  background-color: #00BCD4;
  border-color: #00BCD4;
}

.btn-xl .badge {
  color: #00BCD4;
  background-color: white;
}

#login1 {
  min-width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/triangle.png");
  background-repeat: repeat;
  background-attachment: scroll;
}

#login #close,
#login1 #close,
#login1 #arrowLeft {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  float: right;
}

#login #close:hover,
#login1 #close:hover,
#login1 #arrowLeft:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#login1 {
  right: 100vh;
}

#login1 #arrowLeft {
  width: 35px;
  height: 50px;
  z-index: 1000000000;
  position: relative;
}

#login1 #arrowLeft:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#sadrzaj,
#sadrzaj1 {
  top: -35px;
  max-width: 450px;
  margin: auto;
  padding: 30px 15px 15px 15px;
  position: relative;
  margin-top: 110px;
  background-color: #FFC107;
  -webkit-box-shadow: 0.5px 0.5px 1px black;
  box-shadow: 0.5px 0.5px 1px black;
  border-radius: 13px;
  height: 450px;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#sadrzaj #m,
#sadrzaj1 #m {
  margin-top: 100px;
}

#sadrzaj img#logo,
#sadrzaj1 img#logo {
  height: 125px;
  width: 125px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#sadrzaj button,
#sadrzaj1 button {
  padding: 5px 15px 5px 15px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#sadrzaj button:hover,
#sadrzaj1 button:hover {
  background-color: white;
  color: #286090;
}

#sadrzaj input[type=text],
#sadrzaj1 input[type=text],
#sadrzaj input[type=password],
#sadrzaj1 input[type=password] {
  height: 55px;
  cursor: pointer;
  border-radius: 10px;
}

#sadrzaj1 {
  top: -120px;
  height: 600px;
  background: #ffc107;
}

#sadrzaj1 #m1 {
  margin-top: 100px;
}

#sadrzaj1 i {
  font-size: 86px;
  margin: auto;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
}

#sadrzaj1 button {
  padding: 5px 15px 5px 15px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#sadrzaj1 button:hover {
  background-color: white;
  color: #286090;
}

#sadrzaj1 input[type=text],
#sadrzaj1 input[type=password] {
  height: 55px;
  cursor: pointer;
  border-radius: 10px;
}

#forma,
#forma1 {
  position: fixed;
  width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  body {
    overflow-y: scroll;
  }

  #sadrzaj img#logo,
  #sadrzaj1 img#logo {
    height: 100px;
    width: 100px;
  }
}